.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 1px 3px -2px black;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    gap: 20px;
    cursor: pointer;
    background-color: #f5ebeb;
}