.banner{
    width: 100%;
    display: block;
  
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.shopcategory-sort{
    padding: 10px ;
    border: 1px solid #888;
    border-radius: 40px;
}

.shopcategory-indexSort p span{
    font-weight: 600;
    
}

.shopcategory-products {
    /* margin-top: 50px;
    display: flex;
    height: 10px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center; */
    margin-top: 20px;
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 80px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}