.newcollections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 90vh; */
    width: 100%;
    margin-bottom: 1200px;

}

.newcollections p {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.newcollections hr {
    width: 200px;
    height: 8px;
    border-radius: 10px;
    background-color: #252525;
}

.collections {
    margin-top: 50px;
    display: flex;
    height: 10px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width: 768px) {
    .newcollections p {
        font-size: 30px;
    }

    .newcollections hr {
        width: 100px;
        height: 5px;
    }
}